.hidden {
    display: none !important;
}

#product-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#product-modal.show {
    display: flex;
}

#product-modal .bg-white {
    max-height: 90vh;
    overflow-y: auto;
}

/* Add these styles to prevent body scrolling when modal is open */
body.modal-open {
    overflow: hidden;
} 